In [1]:
import pandas as pd

In [8]:
company = pd.read_csv("../csv_/company.csv")
genre = pd.read_csv("../csv_/genre.csv")
country = pd.read_csv("../csv_/country.csv")
director = pd.read_csv("../csv_/director.csv")
rating = pd.read_csv("../csv_/rating.csv")
score = pd.read_csv("../csv_/score.csv")
writer = pd.read_csv("../csv_/writer.csv")

In [4]:
company.describe()

                  1
count   1482.000000
mean      15.063738
std      351.625415
min        0.000000
25%        0.572500
50%        1.575000
75%        3.470000
max    12890.390000

In [5]:
genre.describe()

               1
count  15.000000
mean    8.926667
std    19.376136
min     0.930000
25%     2.430000
50%     2.930000
75%     3.855000
max    76.760000

In [6]:
company['1'].sum()

22324.46

In [7]:
genre['1'].sum()

133.9

In [9]:
country.describe()

               1
count  50.000000
mean    4.234400
std     5.296765
min     0.010000
25%     1.107500
50%     2.670000
75%     4.520000
max    29.750000

In [10]:
director.describe()

                  1
count   2069.000000
mean      11.741261
std      297.745897
min        0.000000
25%        0.820000
50%        1.900000
75%        3.630000
max    12890.390000

In [11]:
rating.describe()

              1
count  6.000000
mean   3.944167
std    2.617836
min    1.010000
25%    2.982500
50%    3.390000
75%    4.000000
max    8.825000

In [12]:
score.describe()

               0          1
count  72.000000  72.000000
mean    5.551389   5.031528
std     2.100167   8.167653
min     1.900000   0.150000
25%     3.775000   2.035000
50%     5.550000   2.770000
75%     7.325000   5.512500
max     9.300000  63.540000

In [13]:
writer.describe()

                 1
count  3215.000000
mean      5.894980
std     120.010436
min       0.000000
25%       0.730000
50%       1.770000
75%       3.500000
max    6464.390000