In [2]:
import pandas as pd

df = pd.read_csv('./FESTIVAL.csv')

In [27]:
df1 = df[['SRCHWRD_NM','SCCNT']].sort_values('SCCNT', ascending=False)
df1

      SRCHWRD_NM  SCCNT
59         강릉단오제  36300
212        부산항축제  35450
196       보령머드축제  19270
397       보령머드축제  19270
217  부천국제판타스틱영화제  17150
..           ...    ...
187        발복기원제     10
486    크리스마스트리축제     10
286       연산백중놀이     10
241     서창만드리풍년제     10
192       백양단풍축제     10

[538 rows x 2 columns]

In [25]:
def clean_name(x):
    return str(x)[2:-2]

In [26]:
df1['SRCHWRD_NM'].apply(clean_name).apply(lambda x: str(x).replace(' ',''))

59           단
212          항
196         머드
397         머드
217    국제판타스틱영
        ...
187          기
486      스마스트리
286         백중
241       만드리풍
192         단풍
Name: SRCHWRD_NM, Length: 538, dtype: object